
@{
    ViewData["Title"] = "AjaxProducts";
}

<h2>AjaxProducts</h2>

<button type="button" onclick="load()">Get Products</button>

<input type="text" id="query" placeholder="query" />

<br>

<table id="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
</table>

<script>
    function load() {

        var query = document.getElementById('query').value;

        if (query != '')
            query = '?query=' + query;

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                toTable(this.responseText);
            }
        };

        xhttp.open("GET", "/api/Products" + query, true);
        xhttp.send();
    }

    function toTable(data) {
        $('#table').empty();
        $('#table').append('<tr><th>Id</th><th>Name</th></tr>');
        var i;
        var response = $.parseJSON(data);
        $(function () {
            $.each(response, function (i, item) {
                var $tr = $('<tr>').append(
                    $('<td>').text(item.productId),
                    $('<td>').text(item.name)
                ).appendTo('#table');
            });
        });
    }
</script>